# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Procedural World.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\claud\Documents\Unity Projects\Procedural-World\Procedural World\.idea\.idea.Procedural World\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
